@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  height: calc(100vh - 180px);
  background-image: url(../img/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg);
  background-size: cover;
  font-size: 1.6rem;
}

header {
  text-align: center;
  max-width: 54.3rem;
  width: 90%;
  margin: 1rem auto 2rem auto;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #cccccc;
  margin-bottom: 1rem;
}

header p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #cccccc;
}

main {
  background-color: #f7f7f7;
  max-width: 105.5rem;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding: 1.3rem 1.7rem 5rem 1.7rem;
}

#resultado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

main #date {
  background-color: black;
  width: 15.5rem;
  color: #f7f7f7;
  padding-left: 2rem;
  padding-block: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

#url {
  min-width: 50%;
  width: 50%;
}

img {
  width: 100%;
  height: 34rem;
}

iframe {
  width: 100%;
  height: 38rem;
}

#resultado h2 {
  max-width: 33.5rem;
  width: 90%;
  font-size: 3.2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#resultado p {
  max-width: 40rem;
  width: 90%;
  font-size: 1.6rem;
  line-height: 2rem;
  color: dimgray;
}

.input-data {
  display: flex;
  border: none;
  width: 30.6rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.input-data input {
  outline: none;
  border: none;
  background-color: #f7f7f7;
  width: 100%;
  padding: 0.25rem 0.5rem;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
}

.input-data button {
  display: flex;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  background: none;
  cursor: pointer;
}

@media (max-width: 780px) {
  #url {
    width: 100%;
  }

  img {
    width: 100%;
  }
}
